TELEGRAM_BOT_TOKEN=8929233918:AAFUge6LJ64hCotlK4FJu6tPiyhHZAjhWOc
WEBHOOK_SECRET=srv-d99gqhjtqb8s73aj0meg
WEBHOOK_BASE_URL=https://testbot-a49d.onrender.com
PORT=10000
RATE_LIMIT=10
REQUEST_TIMEOUT=12
LOG_LEVEL=INFO
